/* CSS สำหรับดาว */
.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: moveUp 10s linear infinite; /* ดาวเคลื่อนที่จากล่างขึ้นบน */
    pointer-events: none; 
    z-index: -1;
  }
  
  @keyframes moveUp {
    0% {
      transform: translateY(calc(100vh + 50px)); /* เริ่มต้นจากด้านล่างของหน้าจอและพ้น footer */
      opacity: 0.8;
    }
    100% {
      transform: translateY(-180vh); 
      opacity: 0;
    }
  }
  
  body {
    overflow-x: hidden; /* ป้องกันการเลื่อนในแนวนอน */
  }
  